<div class="logos text-center justify-content-center m-5 hidden">   
    <div class="logo">
        <img class="img" src="../../assets/Mind Map.png" alt="">
    </div>
    <div class="logo">
        <img class="img" src="../../assets/Analyze on Screen.png" alt="">
    </div>
    <div class="logo">
        <img class="img" src="../../assets/Building Website (1).png" alt="">
    </div>
    <div class="logo">
        <img class="img" src="../../assets/Idea.png" alt="">
    </div>
    <div class="logo">
        <img class="img" src="../../assets/Web Exploring.png" alt="">
    </div>
</div>
