
.open-screen {
    min-height: 100vh;
    background-image: linear-gradient(#016157, #02AA99 25%, #EDFFFD 85%);
    
  }

.open-screen-content {
  min-height: 100vh;
}

.back-img{
    width: 100%;
    opacity: 30%;
    z-index: 0;
}
.open-screen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/lovepik-business-men-work-in-the-office-picture_500687527.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0; 
    opacity: 10%;
}
  .text-open-screen{
    color: #003732;
    text-shadow:
      2px 4px 4px #D8FFFB,
      0 0 1rem #EDFFFD;
    font-family: rubik;
    font-weight: 400;
  }
 
  .bolds .check-img{
        width: 30px;
        height: 30px;
  }

  .bolds p {
    color: #003732;
    font-size: 25px;
    text-shadow:
      2px 4px 4px #D8FFFB,
      0 0 1rem #EDFFFD;
    font-family: rubik;
  }


.fixed-navbar{
    background-color: #00373284;
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 0%;
    
    top: -100%;
      /* Initially hide the navbar by moving it up */
      transition: transform 2s ease, background-color 2s ease;
      /* Smooth transition for appearance and color */
    }
    
    .fixed-navbar.show {
      top: 0px;
      /* Slide the navbar into view */
    }

.main-img{
    height: 27rem;
    z-index: 100;
    opacity: 100%;
}

.content {
    flex-direction: column; /* Stack elements vertically */
    margin-bottom: 50px;
    flex-direction: row; /* Switch to horizontal layout for larger screens */
  }




@media (max-width: 1200px) {
    .main-img {
        height: 20rem; 
    }
  .text-open-screen{
    font-size: 30px;
  }
}

@media(max-width:1000px) {
  .content {
    flex-direction: column-reverse;
  }

  .text-open-screen {
    text-align: center;
    margin-top: 80px;
  }
  .bolds{
    text-align: center;
  }
}

@media(max-width:480px) {
  .text-open-screen {
    font-size: 25px;
  }
    .bolds .check-img{
      width: 20px;
      height: 20px;
    }
    .bolds p{
      font-size: 15px;
    }

  .main-img {
    height: 12rem;
  }
}