<div class="open-screen ">
    <div>
        <div>
            <!-- [class.fixed-navbar]="isFixed" -->
            <app-nav-bar class="fixed-navbar"></app-nav-bar>
        </div>
        <div class="open-screen-content container d-flex  justify-content-center ">
            <div class="row content align-items-center justify-content-center">
                <div class="col-12 col-lg-6">
                    <h1 class="text-open-screen">
                        {{'welcome_message' | translate}}
                    </h1>
                </div>
                <div class="col-12 col-lg-6 text-center ">
                    <img class="main-img" src="../../assets/Building Website (4).png" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>