<div class="main">
    <div class="desigen-screens-text col-lg-6 mx-auto">
        <h2>{{"SCREENS_DESIGN.TITLE" | translate}}</h2>
        <p class="description">{{"SCREENS_DESIGN.DESCRIPTION" | translate}}</p>
    </div>
    <div class="desigen-screens">
        <div class="desigen-screens-slide">
            <!-- First set -->
            <img src="../../assets/all screens.png" alt="">
            <img src="../../assets/all screens 2.png" alt="">
            <img src="../../assets/all screens.png" alt="">
            <img src="../../assets/all screens 2.png" alt="">
    
            <!-- Second set (exact copy of the first set) -->
            <img src="../../assets/all screens.png" alt="">
            <img src="../../assets/all screens 2.png" alt="">
            <img src="../../assets/all screens.png" alt="">
            <img src="../../assets/all screens 2.png" alt="">
        </div>
    </div>
</div>
