<div class="main">
    <div class="desigen-screens-text col-lg-6 mx-auto">
        <h2 >בניית אתרים רספונסיביים לכל המסכים</h2>
        <p class="description">
            אני מתמחה בעיצוב ופיתוח אתרים שיודעים להתאים את עצמם לכל גודל מסך
            מחשב נייח, טאבלט או סמארטפון כך שהמבקרים נהנים מחוויית משתמש אחידה ונוחה בכל מקום.
        </p>
    </div>
    <div class="desigen-screens">
        <div class="desigen-screens-slide">
            <!-- First set -->
            <img src="../../assets/all screens.png" alt="">
            <img src="../../assets/all screens 2.png" alt="">
            <img src="../../assets/all screens.png" alt="">
            <img src="../../assets/all screens 2.png" alt="">
    
            <!-- Second set (exact copy of the first set) -->
            <img src="../../assets/all screens.png" alt="">
            <img src="../../assets/all screens 2.png" alt="">
            <img src="../../assets/all screens.png" alt="">
            <img src="../../assets/all screens 2.png" alt="">
        </div>
    </div>
</div>
