<div class="desigen-screens">
    <div class="desigen-screens-slide">
        <img src="../../assets/all screens.png" alt="">        
        <img src="../../assets/all screens 2.png" alt="">
        <img src="../../assets/all screens.png" alt="">
        <img src="../../assets/all screens 2.png" alt="">
        
    </div>
    <div class="desigen-screens-slide">
        <img src="../../assets/all screens.png" alt="">        
        <img src="../../assets/all screens 2.png" alt="">
        <img src="../../assets/all screens.png" alt="">
        <img src="../../assets/all screens 2.png" alt="">
    </div>
</div>