<!-- 
<div class="navbar container">
    <select id="languageSelect" (change)="onLanguageSelect($event)">
        <option value="he">עברית <img src="../../assets/israel-flag.png" alt=""></option>
        <option value="en">English</option>
    </select>
</div> -->

<header class="d-flex align-items-center justify-content-between  nav-bar">

  <input type="checkbox" id="chk1">
  
  <div class="menu-icon1">
    <label for="chk1">
      <i class="bx bx-menu"></i>
    </label>
    </div>
    <div class="menu-icon2">
    <label for="chk1">
      <i class='bx bxs-x-square'></i>
    </label>
  </div>
  <!-- <div class="bx bx-menu" id="menu-icon"></div> -->

  <div class="dropdown">
    <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" >
        <img [src]="selectedFlag" alt="" class="flag-icon mx-2">
        <div class=" vl"></div>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li class="dropdown-item" (click)="onLanguageSelect('he')">
        <img src="../../assets/israel-flag.png" alt="Hebrew" class="flag-icon"> עברית
      </li>
      <li class="dropdown-item" (click)="onLanguageSelect('en')">
        <img src="../../assets/england-flag.png" alt="English" class="flag-icon"> English
      </li>
      <li class="dropdown-item" (click)="onLanguageSelect('es')">
        <img src="../../assets/Flag_of_Spain 1.png" alt="Spanish" class="flag-icon"> Spanish
      </li>
    </ul>
  </div>

  <ul class="menu-list d-flex container open">
    <li class="mx-4 ">
      {{'About' | translate}}
    </li>
    <li class="mx-4">
      {{'About' | translate}}
    </li>
    <li class="mx-4">
      {{'About' | translate}}
    </li>
  </ul>
</header>
