
.body{
  background-color: #EDFFFD;
}

body{
  overflow-x: hidden;
}


/* 

.rtl-transform {
  transform: translateX(100%);
} 

@media(min-width: 500px){
  .ltr-transform {
    transform: translateX(-100%);
  }
}

@media(min-width: 500px){
  .rtl-transform {
    transform: translateX(100%);
  } 
} */


@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

