
.open-screen {
    /* min-height: 100vh; */
    
    background-image: linear-gradient(#028C00 0% 1%, #83dd82 30%, #ddffdc 70%);
  }


.open-screen-content {
  min-height: 100vh;
}

#languageSelect{
    height: 30px;
    
}
  .text-open-screen{
    color: #1A221B;
    
  }
.test{
  height: 1px;
}
.main-img{
    height: 27rem;
}

@media (max-width: 1300px) {
    .main-img {
        height: 20rem; /* Adjust the height for phones */
    }
}

.img2{
    height: 10rem;
}

.imgscreens{
  height: 10rem;
  align-items: center;
}

.frame {
  height: 15rem;
  width: 20rem;

}
.background-frame1{
  background-image: linear-gradient(-35deg, #FFFFFF 35%, #DDFFDC, #FFFFFF 65%)
}
.background-frame2{
  background-image: linear-gradient(-35deg, #FFFFFF 35%, #FFFEE0, #FFFFFF 65%)
}

@media (max-width: 500px) {
    .main-img {
        height: 12rem; /* Adjust the height for phones */
    }
}

  .logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 50px;
    margin: 1px;
  }

/* 
  .test{
    height: 50rem;
  } */