
<!-- d-flex -->

<div class="open-screen ">
    <div class="pt-3 d-flex justify-content-center container">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="open-screen-content container d-flex align-items-sm-center justify-content-center">
        <div class=" row">
            <div class="col-lg-6 mt-5 mb-lg-0">
                <h1 class="text-open-screen text-center">
                    {{'welcome_message' | translate}}
                </h1>
            </div>
            <div class="col-lg-6 text-center">
                <img class="main-img" src="../../assets/Building Website.png" alt="...">
            </div>
        </div>
    </div>
</div>
<div class="logos text-center justify-content-center">   
    <div class="logo hidden">
        <img class="img2 logo" src="../../assets/Mind Map.png" alt="">
    </div>
    <div class="logo hidden">
        <img class="img2 logo" src="../../assets/Analyze on Screen.png" alt="">
    </div>
    <div class="logo hidden">
        <img class="img2 logo" src="../../assets/Building Website (1).png" alt="">
    </div>
    <div class="logo hidden">
        <img class="img2 logo" src="../../assets/Idea.png" alt="">
    </div>
    <div class="logo hidden">
        <img class="img2 logo" src="../../assets/Web Exploring.png" alt="">
    </div>
</div>
