<body class="body">
    <div class="open-screen ">
        <div class="pt-3 d-flex justify-content-center container">
            <app-nav-bar></app-nav-bar>
        </div>
        <div class="open-screen-content container d-flex align-items-sm-center justify-content-center ">
            <div class=" row">
                <div class="col-12 col-lg-6 mt-5 mb-5">
                    <h1 class="text-open-screen">
                        {{'welcome_message' | translate}}
                    </h1>
                </div>
                <div class="col-12 col-lg-6 text-center">
                    <img class="main-img" src="../../assets/Building Website.png" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="logos text-center justify-content-center m-5">   
        <div class="logo">
            <img class="img2" src="../../assets/Mind Map.png" alt="">
        </div>
        <div class="logo">
            <img class="img2" src="../../assets/Analyze on Screen.png" alt="">
        </div>
        <div class="logo">
            <img class="img2" src="../../assets/Building Website (1).png" alt="">
        </div>
        <div class="logo">
            <img class="img2" src="../../assets/Idea.png" alt="">
        </div>
        <div class="logo">
            <img class="img2" src="../../assets/Web Exploring.png" alt="">
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row flex-nowrap overflow">
            <!-- <div class="col-lg-3 col-md-4 col-sm-2 d-flex justify-content-center desigen-screens">
                <div class="d-flex frame background-frame1 justify-content-center align-items-center">
                    <img class="imgscreens justify-content-center align-items-center" src="../../assets/all screens.png" alt="">
                </div>
            </div> -->
            <!-- <div class="col-lg-3 col-md-4 d-flex justify-content-center desigen-screens">
                <div class="d-flex frame background-frame2 justify-content-center align-items-center">
                    <img class="imgscreens justify-content-center align-items-center" src="../../assets/all screens 2.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex justify-content-center desigen-screens">
                <div class="d-flex frame background-frame1 justify-content-center align-items-center">
                    <img class="imgscreens justify-content-center align-items-center" src="../../assets/all screens.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex justify-content-center desigen-screens">
                <div class="d-flex frame background-frame2 justify-content-center align-items-center">
                    <img class="imgscreens justify-content-center align-items-center" src="../../assets/all screens 2.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex justify-content-center desigen-screens">
                <div class="d-flex frame background-frame1 justify-content-center align-items-center">
                    <img class="imgscreens justify-content-center align-items-center" src="../../assets/all screens.png" alt="">
                </div>
            </div> -->
        </div>
    </div>

    <div class=" desigen-screens">
        <div class="desigen-screens-slide">
            <img src="../../assets/all screens.png" alt="">        
            <img src="../../assets/all screens 2.png" alt="">
            <img src="../../assets/all screens.png" alt="">
            <img src="../../assets/all screens 2.png" alt="">
            
        </div>
        <div class="desigen-screens-slide">
            <img src="../../assets/all screens.png" alt="">        
            <img src="../../assets/all screens 2.png" alt="">
            <img src="../../assets/all screens.png" alt="">
            <img src="../../assets/all screens 2.png" alt="">
        </div>
    </div>
    <!-- <div class="frame background-frame1 desigen-screens d-flex align-items-center">
        <img class="imgscreens" src="../../assets/all screens.png" alt="">
    </div>  -->
</body>
